<!-- CREATING NEW TASK -->

<body ng-controller="appCtrl">
    <ion-view view-title="Current Tasks">
        <ion-content>
            <ion-list>
                <button class="button button-icon ion-compose" ng-click="modal.show()">
                    Create New Task
                </button>
                    <ion-item ng-repeat="currTask in currTasks">
                        <ion-checkbox ng_repeat="checkedItem in checkedTasks" ng-model="checkedItem.checked">
                         {{ currTask.taskItem }}
                        </ion-checkbox>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-view>
</body>