<body ng-controller="appCtrl">

    <!-- TABS -->

    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
        
    <!-- Tab One  - New Tasks -->
        
        <ion-tab title="Current" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/tab/one">
        <ion-nav-view name="tab-one"></ion-nav-view>
        </ion-tab>

    <!-- Tab Two  - Completed Tasks -->
        
        <ion-tab title="Completed" icon-off="ion-checkmark" icon-on="ion-checkmark" href="#/tab/two">
        <ion-nav-view name="tab-two"></ion-nav-view>
        </ion-tab>
    </ion-tabs>

    <!-- TASK MODAL SCRIPT -->

    <script id="templates/tabs.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">New Task</h1>
                <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                    <div class="list">
                        <label class="item item-input">
                            <span class="input-label">Task Name</span>
                            <input ng-model="taskItem.newTask" type="text">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Date</span>
                            <input ng-model="taskItem.newDate" type="date">
                        </label>
                        <button class="button button-full button-positive" ng-click="createTask(taskItem)">Create</button>
                    </div>
            </ion-content>
        </ion-modal-view>
    </script>
</body>